@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary: #FF7043; 
  --color-secondary: #FFCA28; 
  --color-background-light: #eee1c8; 
  --color-background-dark: #111318;
  --color-text-light: #4E342E;
  --color-text-dark: #CFD8DC;
  --font-primary: 'Open Sans', sans-serif;
}

:root {
  --color-background: var(--color-background-light);
  --color-text: var(--color-text-light);
}

[data-theme='dark'] {
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}